@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Encode+Sans+Semi+Expanded:wght@300;400;500;800&family=Exo+2:wght@600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(16,2,43);
    background: linear-gradient(157deg, rgba(16,2,43,1) 0%, rgba(26,10,77,1) 45%, rgba(18,17,87,1) 80%);  /* Degradado de color */
    color: white;
    font-family:'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
}


/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.404); /* Fondo semi-transparente para el header */
    color:#afb3ff8f;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-left h1 {
    margin: 2;
}

.header-right {
    background: rgba(0, 0, 0, 0); /* Fondo semi-transparente para el header */
    padding: 0.5rem;
    border-radius: 5px;
}

.header-right ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.header-right ul li {
    margin-left: 1rem;
}

.header-right ul li a {
    color:#afb3ff8f;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 20px;
}

.header-right ul li a:hover {
    background-color:#9ca1ff4d;
    border-radius: 5px;
}

.container {
    background-color: #9ca1ff4d;
    border-radius: 10px;
    padding: 50px 90px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
}
.progress-bars {
    display: flex;
    margin: auto;
    width: 100%;
    margin: 50px 30px;
    gap: 250px;
}

.title {
    margin-bottom: 30px;
    font-size: 24px;
    color: #9ca1ffc7;
}

.progress-bar {
    width: 200px;
    height: 200px;
    background: #9ca1ff50;
    border-radius: 50%;
    position: relative;
    overflow : hidden;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
}

.progress {
    height: 100%;
    position: absolute;
    top: 50%;
    background: #00000050;
    transform: translateY(-50%);
    transition: width 1s;
}

#html .progress { background: #f9c7017c; } 
#css .progress { background: #318dcba8; } 
#javascript .progress { background: #be6ba58f; } 
#python .progress { background: #76b54380; } 
#java .progress { background: #e5281e79; } 
#sql .progress { background: #696a70a2; } 

.label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d8daff;
    font-size: 1.2em;
    line-height: 1.5;
}
.accept {
    font-family:'Poppins';
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.308);;
    color: #a3a8ffc5;
    padding: 10px 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
}

/* Ejemplo de varios círculos con diferentes tamaños y posiciones */
.circle1 {
    width: 100px;
    height: 100px;
    background-color: #f9c70125;
    top: 100px;
    left: 100px;
}

.circle2 {
    width: 150px;
    height: 150px;
    background-color: #be6ba525;
    top: 200px;
    left: 300px;
}

.circle3 {
    width: 80px;
    height: 80px;
    background-color: #e5281e25;
    top: 400px;
    left: 50px;
}

.circle4 {
    width: 120px;
    height: 120px;
    background-color: #318dcb25;
    top: 100px;
    left: 500px;
}

.circle5 {
    width: 90px;
    height: 90px;
    background-color: #e5281e25;
    top: 300px;
    left: 700px;
}

.circle6 {
    width: 130px;
    height: 130px;
    background-color: #f9c70125;
    top: 500px;
    left: 200px;
}

.circle7 {
    width: 110px;
    height: 110px;
    background-color:#e5281e25 ;
    top: 650px;
    left: 1250px;
}

.circle8 {
    width: 140px;
    height: 140px;
    background-color: #76b54325;
    top: 150px;
    left: 900px;
}

.circle9 {
    width: 70px;
    height: 70px;
    background-color:#76b54325 ;
    top: 350px;
    left: 400px;
}

.circle10 {
    width: 160px;
    height: 160px;
    background-color: #f9c70125;
    top: 450px;
    left: 700px;
}
.circle11 {
    width: 100px;
    height: 100px;
    background-color: #318dcb25;
    top: 640px;
    left: 630px;
}

.circle12 {
    width: 150px;
    height: 150px;
    background-color:#be6ba525 ;
    top: 700px;
    left: 70px;
}

.circle13 {
    width: 80px;
    height: 80px;
    background-color: #be6ba525;
    top: 400px;
    left: 900px;
}
.circle14 {
    width: 100px;
    height: 100px;
    background-color: #e5281e25;
    top: 600px;
    left: 400px;
}

.circle15 {
    width: 150px;
    height: 150px;
    background-color: #318dcb25;
    top: 300px;
    left: 1100px;
}

.circle16 {
    width: 80px;
    height: 80px;
    background-color: #be6ba525;
    top: 450px;
    left: 500px;
}

.circle17 {
    width: 120px;
    height: 120px;
    background-color: #e5281e25;
    top: 50px;
    left: 1100px;
}

.circle18 {
    width: 90px;
    height: 90px;
    background-color: #be6ba525;
    top: 90px;
    left: 1300px;
}

.circle19 {
    width: 130px;
    height: 130px;
    background-color: #f9c70125;
    top: 550px;
    left: 1530px;
}

.circle20 {
    width: 110px;
    height: 110px;
    background-color:#76b54325 ;
    top: 250px;
    left: 1400px;
}

.circle21 {
    width: 140px;
    height: 140px;
    background-color: #e5281e25;
    top: 150px;
    left: 1730px;
}

.circle22 {
    width: 70px;
    height: 70px;
    background-color: #318dcb25;
    top: 150px;
    left: 1550px;
}

.circle23 {
    width: 160px;
    height: 160px;
    background-color: #318dcb25;
    top: 650px;
    left: 1720px;
}
.circle24 {
    width: 100px;
    height: 100px;
    background-color: #be6ba525;
    top: 450px;
    left: 1400px;
}

.circle25 {
    width: 150px;
    height: 150px;
    background-color: #76b54325 ;
    top: 550px;
    left: 950px;
}

.circle26 {
    width: 80px;
    height: 80px;
    background-color: #be6ba525;
    top: 400px;
    left: 1700px;
}

.circle27 {
    width: 100px;
    height: 100px;
    background-color: #e5281e25;
    top: 10px;
    left: 300px;
}

.circle28 {
    width: 150px;
    height: 150px;
    background-color: #be6ba525;
    top: 800px;
    left: 1000px;
}

.circle29 {
    width: 80px;
    height: 80px;
    background-color: #76b54325;
    top: 800px;
    left: 400px;
}

.circle30 {
    width: 120px;
    height: 120px;
    background-color: #be6ba525;
    top: 20px;
    left: 720px;
}

.circle31 {
    width: 90px;
    height: 90px;
    background-color: #be6ba525;
    top: 850px;
    left: 600px;
}
.circle32 {
    width: 100px;
    height: 100px;
    background-color: #76b54325;
    top: 770px;
    left: 800px;
}

.circle33 {
    width: 150px;
    height: 150px;
    background-color: #76b54325;
    top: 770px;
    left: 1450px;
}

.circle34 {
    width: 80px;
    height: 80px;
    background-color: #318dcb25;
    top: 860px;
    left: 1280px;
}

.circle35 {
    width: 70px;
    height: 70px;
    background-color: #be6ba525;
    top: 870px;
    left: 1750px;
}

.circle36 {
    width: 90px;
    height: 90px;
    background-color: #f9c70125;
    top: 30px;
    left: 1650px;
}
